*{
    text-decoration: none;
    margin: 0; 
    padding: 0;
}

#section_Pesquisar{
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    gap: 800px;
}

.input_Pesquisa{
    width: 366px;
    height: 52px;
    border-radius: 4px;
    text-align: center;
    color:black;
    background-color: #A0C8F0;
    
}


#section_Numeros_Pokemons{
    /* tirei o absolute pra não colar no topo */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#div_Numeros_Pokemons{
    background-color: #F8F8F8;  
    width: 466px;
    height: 58px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p_numeros_Pokemons{
    font-size: 20px;

}

.btn_Numeros{
    border: none;
    background-color: #F4DFC1;
    font-size: 58px;
}


#div_Pokemons{
    width: 1285px;
    height: 600px;
    background-color: #98C860;
    

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* garante centralização vertical também */
}

.div_Do_Pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 148px;

}

#btn_Seta_Esquerda{
    transform: rotate(180deg);
}


/* --- Loader de pokébolas --- */
.loader-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  justify-items: center;
  padding: 10px;
}

.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #ff3b3b, #c70000);
  position: relative;
  overflow: hidden;
  animation: spin 1.2s linear infinite;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

.loader::before {
  top: 50%;
  height: 50%;
  background: white;
}

.loader::after {
  top: calc(50% - 4px);
  height: 8px;
  background: black;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
